.navbar-header {
    float: left;
    padding: 15px;
    text-align: center;
    width: 100%;
}
.navbar-brand {float:none;}

img {
    width: 100%;
}

#index-title {
    padding-top: 3rem;
}

.image-container {
    padding-top: 4rem;
}