{% extends 'base.html' %} {% block content %}
<form action="/images/{{ image._id }}/edit" method="POST">
    <div class="form-group">
        <label for="title">Title</label>
        <input
            type="text"
            class="form-control"
            id="title"
            aria-describedby="title"
            placeholder="Image Title"
            name="title"
            value="{{ image.title }}"
        />
    </div>
    <div class="form-group">
        <label for="url">Image URL</label>
        <input
            type="url"
            class="form-control"
            id="url"
            placeholder="Image URL"
            name='url'
            value="{{ image.url }}"
        />
    </div>
    <button type="submit" class="btn btn-primary">Save Changes</button>
</form>
{% endblock %}
