{% extends 'base.html' %}
{% block content %}
<div class="text-center image-container">
    <div class="row">
        {% if user %}
            {% for image in user_images %}
                <div class="col-md-6" class="image-item">
                    <h4>{{ image.title }}</h4>
                    <a href="/images/{{ image._id }}">
                        <img src="{{ image.url }}" alt="Bad URL. Couldn't render"><br>
                    </a>
                    <a class="btn btn-primary" href="/images/{{ image._id }}/edit">Edit</a>
                    <a class="btn btn-danger" href="/images/{{ image._id }}/delete">Delete</a>
                </div>   
            {% endfor %}
        {% else %}
        <h2>There are no images to display</h2>
        {% endif %}
    </div>
</div>
{% endblock %}