{% extends 'base.html' %}

{% block content %}
    {% if image %}
        <div class="text-center image-container">
            <!-- TODO: Copy image URL to clipboard -->
            <h4>{{ image.title }}</h4>
            <a href="/images/{{ image._id }}">
                <img src="{{ image.url }}" alt="Bad URL. Couldn't render"><br>
            </a>
            <a class="btn btn-primary" href="/images/{{ image._id }}/edit">Edit</a>
            <a class="btn btn-danger" href="/images/{{ image._id }}/delete">Delete</a>
        </div>
    {% else %}
        <h1>Image not found.</h1>
    {% endif %}
{% endblock %}